# Normalize line-endings
* text eol=lf

# Binary files
*.exe binary
*.zip binary
*.a binary
*.lib binary
*.png binary
*.ico binary
*.so binary
*.pdf binary
contrib/astyle binary

# Text files
*.txt text
*.CT text

# Readme files
README.txt text eol=crlf
ChangeLog.txt text eol=crlf

# Special files
Add_Handler_Protocol.bat text eol=crlf
